.header {
    font-family: monospace;
    background: papayawhip;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    text-decoration: none;
}

/* done */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; /* solution */
}

ul {
    display: flex;
    gap: 10px;
    margin: 0; /* solution */
    padding: 0; /* solution */
}