@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

/* done */
body {
    display: flex;
    flex-direction: column;
}

button {
    padding: 8px 16px;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1; /* 1 1 0%; fills available space*/
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none; /* solution */
}

a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.footer {
    background-color: rgb(236, 236, 236);
}






